
<!DOCTYPE html>
{% load static %}
<head>
    <title>Subscription tracker</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css'%}" />
</head>
<body>
{%block menubar%}
<div class="menu">
    <a href="/hello/" class="home">Home</a>
    {% if request.user.is_authenticated%}
    <p>Logged in as {{request.user.username}}<p>
    <form action="/logout/" method="post">
        {%csrf_token%}
        <button type="submit">Log out</button>
    </form>
    {% else %}
    <a href="/registration">Sign up</a>
    <a href="/login">Log in</a>
    {%endif%}
</div>
{%endblock menubar%}
<div>
    {%block content%}{%endblock %}
</div>
</body>