{% extends 'base.html'%}
{%block content%}

<h1>Categories</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Number of subscriptions</th>
        <th></th>
    </tr>
{%for category in categories%}
<tr>
    <td>{{category.name}}</td>
    <td>{{category.description}}</td>
    <td>0</td>
    <td><a>remove</a></td>
</tr>
{%endfor%}
</table>
<h2>Add a category</h2>
<form method="post" action="/addCategory/">
    {%csrf_token%}
    {%for field in categoryform%}
        {% if field.errors %}
            <ul class="errorlist">
            {% for error in field.errors %}
             <li>{{ error }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {{ field.label_tag }} {{ field }}
    {%endfor%}
    <input type="submit" value="add category"/>
</form>
{%endblock%}